    p {
      background-color: white;
      color: black;
    }
    h1 {
      background-color: darkblue;
      color: white;
      padding: 1rem;
    }
    h2 {
      background-color: orange;
      color: black;
      padding: 0.5rem;
      font-family: Helvetica, Arial, Sans-Serif;
    }
    .kursiv {
      font-style: italic;
    }
    table {
      width: 100%;
      text-align: left;
      vertical-align: top;
      border-collapse: collapse;
    }
    th, td {
      padding: 0.5rem;
    }
    thead {
      background-color: lightgrey;
    }
    tbody {
      background-color: whitesmoke;
    }
    tr:nth-child(even) {
      background-color: #e0e0e0;
    }
